src/wsdl/localhost_8080/Ordenes/OrdenServiceImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="Ordenes">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/Ordenes/OrdenServiceImpl?xsd=1"/>
</xsd:schema>
</types>
<message name="actualizarOrden">
<part name="parameters" element="tns:actualizarOrden"/>
</message>
<message name="actualizarOrdenResponse">
<part name="parameters" element="tns:actualizarOrdenResponse"/>
</message>
<message name="eliminarOrden">
<part name="parameters" element="tns:eliminarOrden"/>
</message>
<message name="eliminarOrdenResponse">
<part name="parameters" element="tns:eliminarOrdenResponse"/>
</message>
<message name="listarOrdenes">
<part name="parameters" element="tns:listarOrdenes"/>
</message>
<message name="listarOrdenesResponse">
<part name="parameters" element="tns:listarOrdenesResponse"/>
</message>
<message name="agregarOrden">
<part name="parameters" element="tns:agregarOrden"/>
</message>
<message name="agregarOrdenResponse">
<part name="parameters" element="tns:agregarOrdenResponse"/>
</message>
<portType name="OrdenServiceImpl">
<operation name="actualizarOrden">
<input wsam:Action="http://services/OrdenServiceImpl/actualizarOrdenRequest" message="tns:actualizarOrden"/>
<output wsam:Action="http://services/OrdenServiceImpl/actualizarOrdenResponse" message="tns:actualizarOrdenResponse"/>
</operation>
<operation name="eliminarOrden">
<input wsam:Action="http://services/OrdenServiceImpl/eliminarOrdenRequest" message="tns:eliminarOrden"/>
<output wsam:Action="http://services/OrdenServiceImpl/eliminarOrdenResponse" message="tns:eliminarOrdenResponse"/>
</operation>
<operation name="listarOrdenes">
<input wsam:Action="http://services/OrdenServiceImpl/listarOrdenesRequest" message="tns:listarOrdenes"/>
<output wsam:Action="http://services/OrdenServiceImpl/listarOrdenesResponse" message="tns:listarOrdenesResponse"/>
</operation>
<operation name="agregarOrden">
<input wsam:Action="http://services/OrdenServiceImpl/agregarOrdenRequest" message="tns:agregarOrden"/>
<output wsam:Action="http://services/OrdenServiceImpl/agregarOrdenResponse" message="tns:agregarOrdenResponse"/>
</operation>
</portType>
<binding name="OrdenServiceImplPortBinding" type="tns:OrdenServiceImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="actualizarOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarOrdenes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Ordenes">
<port name="OrdenServiceImplPort" binding="tns:OrdenServiceImplPortBinding">
<soap:address location="http://localhost:8080/Ordenes/OrdenServiceImpl"/>
</port>
</service>
</definitions>