src/wsdl/localhost_8080/Ordenes/OrdenServiceImpl.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="actualizarOrden" type="tns:actualizarOrden"/>

<xs:element name="actualizarOrdenResponse" type="tns:actualizarOrdenResponse"/>

<xs:element name="agregarOrden" type="tns:agregarOrden"/>

<xs:element name="agregarOrdenResponse" type="tns:agregarOrdenResponse"/>

<xs:element name="cliente" type="tns:cliente"/>

<xs:element name="eliminarOrden" type="tns:eliminarOrden"/>

<xs:element name="eliminarOrdenResponse" type="tns:eliminarOrdenResponse"/>

<xs:element name="listarOrdenes" type="tns:listarOrdenes"/>

<xs:element name="listarOrdenesResponse" type="tns:listarOrdenesResponse"/>

<xs:element name="orden" type="tns:orden"/>

<xs:element name="producto" type="tns:producto"/>

<xs:complexType name="actualizarOrden">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
<xs:element name="arg1" type="xs:int" minOccurs="0"/>
<xs:element name="arg2" type="xs:int" minOccurs="0"/>
<xs:element name="arg3" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarOrdenResponse">
<xs:sequence>
<xs:element name="respuesta" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarOrden">
<xs:sequence>
<xs:element name="arg0" type="tns:orden" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orden">
<xs:sequence>
<xs:element name="cantidad" type="xs:int" minOccurs="0"/>
<xs:element name="cliente" type="tns:cliente" minOccurs="0"/>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="producto" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarOrdenResponse">
<xs:sequence>
<xs:element name="respuesta" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarOrdenes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarOrdenesResponse">
<xs:sequence>
<xs:element name="clientes" type="tns:orden" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarOrden">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
<xs:element name="arg1" type="xs:int" minOccurs="0"/>
<xs:element name="arg2" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarOrdenResponse">
<xs:sequence>
<xs:element name="respuesta" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>