src/wsdl/localhost_8080/Clientes/ClienteServiceImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="Clientes">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/Clientes/ClienteServiceImpl?xsd=1"/>
</xsd:schema>
</types>
<message name="buscarCliente">
<part name="parameters" element="tns:buscarCliente"/>
</message>
<message name="buscarClienteResponse">
<part name="parameters" element="tns:buscarClienteResponse"/>
</message>
<message name="actualizarCliente">
<part name="parameters" element="tns:actualizarCliente"/>
</message>
<message name="actualizarClienteResponse">
<part name="parameters" element="tns:actualizarClienteResponse"/>
</message>
<message name="listarClientes">
<part name="parameters" element="tns:listarClientes"/>
</message>
<message name="listarClientesResponse">
<part name="parameters" element="tns:listarClientesResponse"/>
</message>
<message name="agregarCliente">
<part name="parameters" element="tns:agregarCliente"/>
</message>
<message name="agregarClienteResponse">
<part name="parameters" element="tns:agregarClienteResponse"/>
</message>
<message name="eliminarCliente">
<part name="parameters" element="tns:eliminarCliente"/>
</message>
<message name="eliminarClienteResponse">
<part name="parameters" element="tns:eliminarClienteResponse"/>
</message>
<portType name="ClienteServiceImpl">
<operation name="buscarCliente">
<input wsam:Action="http://services/ClienteServiceImpl/buscarClienteRequest" message="tns:buscarCliente"/>
<output wsam:Action="http://services/ClienteServiceImpl/buscarClienteResponse" message="tns:buscarClienteResponse"/>
</operation>
<operation name="actualizarCliente">
<input wsam:Action="http://services/ClienteServiceImpl/actualizarClienteRequest" message="tns:actualizarCliente"/>
<output wsam:Action="http://services/ClienteServiceImpl/actualizarClienteResponse" message="tns:actualizarClienteResponse"/>
</operation>
<operation name="listarClientes">
<input wsam:Action="http://services/ClienteServiceImpl/listarClientesRequest" message="tns:listarClientes"/>
<output wsam:Action="http://services/ClienteServiceImpl/listarClientesResponse" message="tns:listarClientesResponse"/>
</operation>
<operation name="agregarCliente">
<input wsam:Action="http://services/ClienteServiceImpl/agregarClienteRequest" message="tns:agregarCliente"/>
<output wsam:Action="http://services/ClienteServiceImpl/agregarClienteResponse" message="tns:agregarClienteResponse"/>
</operation>
<operation name="eliminarCliente">
<input wsam:Action="http://services/ClienteServiceImpl/eliminarClienteRequest" message="tns:eliminarCliente"/>
<output wsam:Action="http://services/ClienteServiceImpl/eliminarClienteResponse" message="tns:eliminarClienteResponse"/>
</operation>
</portType>
<binding name="ClienteServiceImplPortBinding" type="tns:ClienteServiceImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="buscarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarClientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Clientes">
<port name="ClienteServiceImplPort" binding="tns:ClienteServiceImplPortBinding">
<soap:address location="http://localhost:8080/Clientes/ClienteServiceImpl"/>
</port>
</service>
</definitions>