src/wsdl/localhost_8080/Productos/ProductoServiceImpl.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="actualizarProducto" type="tns:actualizarProducto"/>

<xs:element name="actualizarProductoResponse" type="tns:actualizarProductoResponse"/>

<xs:element name="agregarProducto" type="tns:agregarProducto"/>

<xs:element name="agregarProductoResponse" type="tns:agregarProductoResponse"/>

<xs:element name="buscarProducto" type="tns:buscarProducto"/>

<xs:element name="buscarProductoResponse" type="tns:buscarProductoResponse"/>

<xs:element name="eliminarProducto" type="tns:eliminarProducto"/>

<xs:element name="eliminarProductoResponse" type="tns:eliminarProductoResponse"/>

<xs:element name="listarProductos" type="tns:listarProductos"/>

<xs:element name="listarProductosResponse" type="tns:listarProductosResponse"/>

<xs:element name="producto" type="tns:producto"/>

<xs:complexType name="buscarProducto">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarProductoResponse">
<xs:sequence>
<xs:element name="producto" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarProductos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarProductosResponse">
<xs:sequence>
<xs:element name="productos" type="tns:producto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarProducto">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarProductoResponse">
<xs:sequence>
<xs:element name="respuesta" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarProducto">
<xs:sequence>
<xs:element name="arg0" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarProductoResponse">
<xs:sequence>
<xs:element name="respuesta" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarProducto">
<xs:sequence>
<xs:element name="arg0" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarProductoResponse">
<xs:sequence>
<xs:element name="respuesta" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>