src/wsdl/localhost_8080/Productos/ProductoServiceImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="Productos">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/Productos/ProductoServiceImpl?xsd=1"/>
</xsd:schema>
</types>
<message name="eliminarProducto">
<part name="parameters" element="tns:eliminarProducto"/>
</message>
<message name="eliminarProductoResponse">
<part name="parameters" element="tns:eliminarProductoResponse"/>
</message>
<message name="actualizarProducto">
<part name="parameters" element="tns:actualizarProducto"/>
</message>
<message name="actualizarProductoResponse">
<part name="parameters" element="tns:actualizarProductoResponse"/>
</message>
<message name="agregarProducto">
<part name="parameters" element="tns:agregarProducto"/>
</message>
<message name="agregarProductoResponse">
<part name="parameters" element="tns:agregarProductoResponse"/>
</message>
<message name="listarProductos">
<part name="parameters" element="tns:listarProductos"/>
</message>
<message name="listarProductosResponse">
<part name="parameters" element="tns:listarProductosResponse"/>
</message>
<message name="buscarProducto">
<part name="parameters" element="tns:buscarProducto"/>
</message>
<message name="buscarProductoResponse">
<part name="parameters" element="tns:buscarProductoResponse"/>
</message>
<portType name="ProductoServiceImpl">
<operation name="eliminarProducto">
<input wsam:Action="http://services/ProductoServiceImpl/eliminarProductoRequest" message="tns:eliminarProducto"/>
<output wsam:Action="http://services/ProductoServiceImpl/eliminarProductoResponse" message="tns:eliminarProductoResponse"/>
</operation>
<operation name="actualizarProducto">
<input wsam:Action="http://services/ProductoServiceImpl/actualizarProductoRequest" message="tns:actualizarProducto"/>
<output wsam:Action="http://services/ProductoServiceImpl/actualizarProductoResponse" message="tns:actualizarProductoResponse"/>
</operation>
<operation name="agregarProducto">
<input wsam:Action="http://services/ProductoServiceImpl/agregarProductoRequest" message="tns:agregarProducto"/>
<output wsam:Action="http://services/ProductoServiceImpl/agregarProductoResponse" message="tns:agregarProductoResponse"/>
</operation>
<operation name="listarProductos">
<input wsam:Action="http://services/ProductoServiceImpl/listarProductosRequest" message="tns:listarProductos"/>
<output wsam:Action="http://services/ProductoServiceImpl/listarProductosResponse" message="tns:listarProductosResponse"/>
</operation>
<operation name="buscarProducto">
<input wsam:Action="http://services/ProductoServiceImpl/buscarProductoRequest" message="tns:buscarProducto"/>
<output wsam:Action="http://services/ProductoServiceImpl/buscarProductoResponse" message="tns:buscarProductoResponse"/>
</operation>
</portType>
<binding name="ProductoServiceImplPortBinding" type="tns:ProductoServiceImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="eliminarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Productos">
<port name="ProductoServiceImplPort" binding="tns:ProductoServiceImplPortBinding">
<soap:address location="http://localhost:8080/Productos/ProductoServiceImpl"/>
</port>
</service>
</definitions>